@charset "UTF-8";

* { 
	margin: 0; padding: 0; font-family:Arial; font-size:14pt;
}

span.foco-sucesso {
	color: #105710;
}
.success{
	margin-top:20px;
	font-size:12px;
}
span.foco-erro {
	font-weight: 600;
	margin-top:20px;
	font-size:16px;
	color: #af1010;
}
.feedback-await{
	margin-top:15px;
	font-size: 12px;
}
.loader {
	margin-top: 15px;
	border: 10px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 10px solid #134c6f;
  	width: 30px;
 	height: 30px;
  	-webkit-animation: spin 2s linear infinite; /* Safari */
 	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}