@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}

.wrapper{
  
  display: flex;
  position: relative;
}

.wrapper .main_content .header {
  background-color: #134c6f;
  padding:11px;
  height: 70px;
  align-items:center;
  display: flex;
}
.wrapper .main_content .header .left{
  display: flex;
  flex:1;
  align-items:center;
}
.wrapper .main_content .header .left button{
  padding-left: 10px;
  font-size: 40px;
  margin-right: 20px;
  font-weight: 300;
  background: transparent;
  border: none;
  color: #fff;
  margin-right: 20px;
  cursor:pointer;
}
.wrapper .main_content .header .left button:hover{
  opacity:0.8;
}
.wrapper .main_content .header .logout{
  font-size: 30px;
  color: #fff;
  padding-right: 15px;
}
.wrapper .main_content .header .logout:hover{
  opacity: 0.8;
}

.wrapper .sidebar{
  margin-top: 70px;
  height: calc(100% - 70px);
  background-color: #134c6f;
  position: fixed;
  border-right: 1px solid #0B3C5D;
  display: none;
}
.wrapper .sidebar.block{
  display: block;
}
.wrapper .sidebar h2{
  color: #fff;
  font-family: "Times";
  text-transform: uppercase;
  text-align: center;
  padding: 28px;
  background-color: #D9B310;
}

.wrapper .sidebar ul {
  list-style: none;
  margin: 0;
  padding-left:0;
}

.wrapper .sidebar ul li{
  cursor: pointer;
  padding: 15px;
  width: 250px;
  position: relative;
  background-color: #134c6f;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}

.wrapper .sidebar ul ul {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 101%;
  top: -2%;
}

.wrapper .sidebar ul li:hover {
  background-color: #328CC1;
}

.wrapper .sidebar ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  text-decoration: none;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

/* Ajusta o menu horizontal*/

.wrapper .main_content{
  width: 100%;
  top: 0;
}

.wrapper .main_content .header {
  padding: 11px;
  background-color: #134c6f;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index:1000;
}

.wrapper .main_content .header ul li {
  position: relative;
  left: 65%;
  padding-left: 25px;
  list-style-type: none;
  display: inline-block;
}

.wrapper .main_content .header a {
  color: white;
}
.wrapper .main_content .header .logout i{
  font-size: 30px;
  color: #fff;
}

span {
  padding-right: 15px;
}


