@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: url(../imagens/bg-index.png)no-repeat;
	background-position: center;
	font-family: sans-serif;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
	background: cover;
	width: 100vw;
  	height: 100vh;
}

.loginbox {
	width: 320px;
	height: 400px;
	background: #fff;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	border: none;
}

h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	margin-left: 50px;
	width: 150px;
	height: 40px;
	background: #228B22;
	color: #000;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background: #006400;
	color: #000;
}

.loginbox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #000;
}