* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #D3D3D3;
}

form {
	margin-left: 22%;
	margin-top: 80px;
}

fieldset {
    border: none;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

input, select, option {
    width: 15em;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 20pt;
	font-weight: bolder;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #666;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 2em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo input[type="password"],
.campo input[type="number"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select, option {
    padding-right: 5em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

select {
    cursor: pointer;
}

button[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;

}

button[type=submit]:hover {
background-color: #008000;
}

button[type=reset] {
background-color: #FF6347;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;

}

button[type=reset]:hover {
background-color: #FF0000;
}